@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--grey-900);
    color: var(--white);
}

.main {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 1.75rem;
    width: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.25rem;
    background-color: var(--grey-800);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
}

.profile {
    height: 12vh;
    width: 12vh;
    margin-bottom: 12px;
    border-radius: 50%;
}

.profile img {
    width: 100%;
}

.title {
    font-weight: 600;
    margin: 0.75rem 0;
    line-height: 2rem;
}

.city {
    color: var(--green);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1rem;
}

.subtitle {
    font-weight: 400;
    margin: 1.25rem 0;
}

.social-media {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.social-media a {
    height: 3rem;
    margin-bottom: 1.25rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-700);
    color: white;
    font-weight: 600;
    text-decoration:none;
}

.social-media a:hover {
    background-color: var(--green);
    color: var(--grey-800);
}

.social-media a:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--grey-800);
    color: var(--white);
}

.mentor-icon {
    width: 16px;
    margin: 2px;
}

i { 
    margin: 2px;
}

footer p{
    font-family: 'Inter', sans-serif;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--green)
}

footer a:hover {
    color: var(--white);
}

@media (max-width: 450px){
    .container {
        width: 40vh;
    }
}




